<span class="button {{ classes }}">
    <div class="flex gap-4 text-center items-center">
        {{ title }}
        <span class="button__arrow overflow-hidden">
            <div class="arrow__one absolute transition-all duration-300 ease-in-out group-hover:translate-x-[150%] group-hover:-translate-y-[150%] group-hover:opacity-0">
                <i class="fa-regular fa-arrow-up-right"></i>
            </div>
            <div class="arrow__two absolute transition-all duration-300 ease-in-out translate-x-[-150%] translate-y-[150%] opacity-0 group-hover:translate-x-0 group-hover:translate-y-0 group-hover:opacity-100">
                <i class="fa-regular fa-arrow-up-right"></i>
            </div>
        </span>
    </div>
</span>
