{{ nocache }}
    {{ form in="{form_handle}" js="alpine" class="w-full {form_handle}" :redirect="success_redirect" }}
        {{ if success }}
            <!-- Success Message -->
            <p class="text-3xl font-heading">It's in our inbox</p>
            <p class="mb-8">
                Thanks, we have received your message and will get back to you shortly!
            </p>
        {{ else }}
            <!-- Form Fields -->
            <div class="relative">
                {{ sections }}
                <fieldset>
                    {{ if display }}
                        <legend class="inline-block font-heading uppercase font-semibold tracking-wide py-8">{{ display }}</legend>
                    {{ /if }}

                    <div class="grid grid-cols-1 gap-x-[2rem] gap-y-[1rem] md:grid-cols-12">
                        {{ fields }}
                        <template x-if="{{ show_field }}" hidden>

                            <div
                                    class="col-span-1
                                    {{ switch(
                                        ((type == 'text' || type == 'email' || type == 'phone')) => 'md:col-span-12',
                                        (width == '25') => 'md:col-span-3',
                                        (width == '33') => 'md:col-span-4',
                                        (width == '50') => 'md:col-span-6',
                                        (width == '66') => 'md:col-span-8',
                                        (width == '75') => 'md:col-span-9',
                                        (width == '100') => 'md:col-span-12',
                                        () => 'md:col-span-12'
                                        ) }}"
                                {{ type == 'text' && input_type == 'hidden' ?= 'hidden' }}
                            >
                                {{ if ! hide_display }}
                                    <label class="block font-semibold font-heading uppercase mb-2">
                                        {{ display }}
                                        {{ if validate | contains:required }}
                                            <sup class="text-red-500">*</sup>
                                        {{ /if }}
                                    </label>
                                {{ /if }}
                                {{ if type == 'select' }}
                                <div class="relative custom-select w-full">
                                    <div class="absolute top-1/2 right-4 w-4">
                                        {{ partial:components/icons.down-arrow }}
                                    </div>
                                {{ /if }}
                                <div>{{ field }}</div>
                                {{ if type == 'select' }}
                                </div>
                                {{ /if }}
                                {{ if error }}
                                    <p class="text-red-500 text-xs">{{ error }}</p>
                                {{ /if }}
                            </div>
                        </template>
                        {{ /fields }}
                    </div>
                </fieldset>
                {{ /sections }}
            </div>

            <!-- Captcha Section -->
            <div class="mt-8">
                {{ captcha }}
                {{ if error:captcha }}
                    <div class="px-4 py-2 mt-8 bg-red-500 text-white border border-red-700 rounded">
                        {{ error:captcha }}
                    </div>
                {{ /if }}
            </div>

            <!-- Honeypot & Submit Button for Other Forms -->
            <div class="mt-8">
                <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}"/>
                <button type="submit" class="button group">
                    <div class="flex gap-4 text-center items-center">
                        Submit
                        <span class="button__arrow overflow-hidden">
                            <div class="arrow__one absolute transition-all duration-300 ease-in-out group-hover:translate-x-[150%] group-hover:-translate-y-[150%] group-hover:opacity-0">
                                <i class="fa-regular fa-arrow-up-right"></i>
                            </div>
                            <div class="arrow__two absolute transition-all duration-300 ease-in-out translate-x-[-150%] translate-y-[150%] opacity-0 group-hover:translate-x-0 group-hover:translate-y-0 group-hover:opacity-100">
                                <i class="fa-regular fa-arrow-up-right"></i>
                            </div>
                        </span>
                    </div>
                </button>
            </div>
        {{ /if }}
    {{ /form }}
{{ /nocache }}
