<ul class="social-menu mt-5 flex gap-3 flex-wrap">
    {{ nav:social select="id|title|url" }}
        <li class="">
            <a href="{{ url }}" target="_blank" rel="noopener" class="text-brand-text w-10 h-10 min-w-12 bg-brand-secondary min-h-10 flex items-center justify-center rounded-[30px]">
                {{ if title | lower == "linkedin" }}
                {{ partial:components/icons.linkedin }}
                {{ elseif title | lower == "facebook" }}
                {{ partial:components/icons.facebook }}
                {{ elseif title | lower == "instagram" }}
                    {{ partial:components/icons.instagram }}
                {{ elseif title | lower == "spotify" }}
                {{ partial:components/icons.spotify }}
                {{ elseif title | lower == "pinterest" }}
                    {{ partial:components/icons.pinterest }}
                {{ elseif title | lower == "youtube" }}
                    {{ partial:components/icons.youtube }}
                {{ else }}
                    {{ title }} <!-- Fallback to title if no match -->
                {{ /if }}
            </a>
        </li>
    {{ /nav:social }}
</ul>