<span class="flex items-center justify-center overflow-hidden flex-shrink-0 rounded-full {{ classes }}">
    <span class="relative w-full h-full flex items-center justify-center">
        <span class="absolute transition-all duration-300 ease-in-out group-hover:translate-x-[150%] group-hover:-translate-y-[150%]">
            <i class="fa-sharp fa-regular fa-arrow-up-right"></i>
        </span>
        <span class="absolute transition-all duration-300 ease-in-out -translate-x-[150%] translate-y-[150%] group-hover:translate-x-0 group-hover:translate-y-0">
            <i class="fa-sharp fa-regular fa-arrow-up-right"></i>
        </span>
    </span>
</span>
