@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import "base/base.css";
@import "base/animations.css";
@import "base/fonts.css";
@import "base/typogrophy.css";
@import "base/bard.css";

@import "layout/header.css";
@import "layout/inputs.css";

@import "modules/text-carousel.css";
