<section
        x-data
        x-init="
const swiper = new Swiper($refs.slider, {
  slidesPerView: 3,
  spaceBetween: 0,
  loop: true,
  speed: 600,
  navigation: {
    nextEl: $refs.next,
    prevEl: $refs.prev,
  },
  breakpoints: {
    768: {
      slidesPerView: 4,
    },
    992: {
      slidesPerView: 5,
    }
  }
  });"
        class="pb-12 md:pb-20 lg:pb-24">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="col-span-1">
                <h2 class="uppercase font-heading text-[32px] sm:text-[35px] md:text-[40px] lg:text-[45px] xl:text-[50px]">{{ title }}</h2>
            </div>
            <div class="col-span-1">
                <div class="text-[18px] lg:text-[20px] mb-8">
                    {{ text }}
                </div>
                {{ if cta }}
                    {{ partial:components/button url="{ cta:url }" title="{ cta_title }" target="{ cta:target }" classes="{ btn_classes }" }}
                {{ /if }}
            </div>
        </div>
    </div>
    <div class="swiper mt-8 lg:mt-12 js-fade-up !overflow-visible" x-ref="slider">
        <div class="swiper-wrapper">
            {{ images }}
            <div class="swiper-slide !h-auto !flex items-center">
                <div class="rounded-[20px] border-[3px] border-black overflow-hidden {{ switch between='rotate-3|-rotate-3' }}">
                <img src="{{ url }}" alt="{{ alt }}" class="w-full h-full object-center object-cover">
                </div>
            </div>
            {{ /images }}
        </div>

    </div>
    <input type="hidden" class="rotate-2 -rotate-3">
</section>