{{ if images }}
    <section class="py-12 md:py-20 lg:py-24 overflow-x-hidden relative js-fade-up">
        <div class="container text-center">
            <h3 class="font-bodybold mb-8 lg:mb-16 text-[18px] lg:text-[20px] xl:text-[22px] 3xl:text-[25px]">
                {{ if title }}
                    {{ title }}
                {{ else }}
                We Are Jungle's Friends
                {{ /if }}
            </h3>
        </div>
        <div class="width-full relative flex">
            <div class="animate-marquee flex whitespace-nowrap">
                {{ images }}
                <div class="flex items-center mx-4 lg:mx-8 min-w-[100px] lg:min-w-[150px] max-w-[150px]">
                    <img src="{{ url }}" alt="{{ alt }}" class="w-full max-h-[80px]">
                </div>
                {{ /images }}
            </div>
            <div class="absolute top-0 animate-marquee2 whitespace-nowrap flex">
                {{ images }}
                <div class="flex items-center mx-4 lg:mx-8 min-w-[100px] lg:min-w-[150px] max-w-[150px]">
                    <img src="{{ url }}" alt="{{ alt }}" class="w-full max-h-[80px]">
                </div>
                {{ /images }}
            </div>
        </div>

    </section>
{{ /if }}