<section id="{{ block_id }}" class="pb-12 md:pb-20 lg:pb-28">
    <div class="container">
        <div class="text-center flex-col flex justify-center js-fade-up">
            <div class="w-10 mx-auto">
                {{ partial:components/icons.quote-left }}
            </div>
            <span class="my-4 lg:my-8 leading-[1.05] uppercase font-heading text-[38px] sm:text-[45px] md:text-[50px] lg:text-[65px] xl:text-[80px] 2xl:text-[85px] 3xl:text-[90px]">{{ quote }}</span>
            <div class="w-10 mx-auto">
                {{ partial:components/icons.quote-right }}
            </div>
        </div>
    </div>
</section>