{{ if reviews }}
    <section
            x-data
            x-init="
const swiper = new Swiper($refs.slider, {
  slidesPerView: 1,
  spaceBetween: 20,
  loop: false,
  speed: 600,
  navigation: {
    nextEl: $refs.next,
    prevEl: $refs.prev,
  },
  breakpoints: {
      568: {
      slidesPerView: 2,
      spaceBetween: 30,
    },
    768: {
      slidesPerView: 2.5,
      spaceBetween: 30,
    },
    992: {
      slidesPerView: 3,
      spaceBetween: 30,
    },
    1920: {
      slidesPerView: 3.5,
      spaceBetween: 30,
    },
  },
  on: {
    init() { updateButtons(this) },
    slideChange() { updateButtons(this) }
  }
});


    function updateButtons(sw) {
      const prev = $refs.prev;
      const next = $refs.next;

      prev.disabled = sw.isBeginning;
      next.disabled = sw.isEnd;

      prev.classList.toggle('opacity-50', sw.isBeginning);
      next.classList.toggle('opacity-50', sw.isEnd);
      prev.classList.toggle('cursor-not-allowed', sw.isBeginning);
      next.classList.toggle('cursor-not-allowed', sw.isEnd);
    }
  "
            class="pb-12 md:pb-20 lg:pb-24" id="{{ block_id }}"
    >
        <div class="container">
            <div class="mb-8 lg:mb-12 js-fade-up">
                {{ if title || text }}
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 gap-8 lg:gap-x-20">
                        <div class="col-span-1 lg:col-span-7">
                            <h2 class="uppercase font-heading text-[30px] sm:text-[35px] md:text-[40px] lg:text-[40px]">{{ title }}</h2>
                        </div>
                        <div class="col-span-1 lg:col-span-5 flex">
                            <div class="text-[18px] lg:text-[20px] mt-auto">
                                {{ text }}
                            </div>
                        </div>
                    </div>
                {{ /if }}
            </div>

            <div class="swiper !overflow-visible" x-ref="slider">
                <div class="swiper-wrapper">
                    {{ reviews }}
                    <div class="swiper-slide !h-auto js-fade-up rounded-[20px] group p-8 bg-brand-dark-blue">
                        <div class="flex gap-4 items-center">
                            {{ image }}
                            <div class="overflow-hidden rounded-full mb-4 relative w-[70px] h-[70px] min-w-[70px] min-h-[70px]">
                                <img src="{{ url }}" alt="{{ alt }}" loading="lazy" class="w-full transition-all duration-1500 h-full object-center object-cover">
                            </div>
                            {{ /image }}
                            <div class="">
                                <h3 class="font-heading uppercase text-[16px] lg:text-[18px]">{{ name }}</h3>
                                <p class="">{{ role }}</p>
                            </div>
                        </div>
                        <div class="my-8">
                            {{ quote }}
                        </div>
                        {{ if website }}
                            <a href="{{ website }}" target="_blank" class="text-[18px] break-words underline font-bodybold duration-300 transition-all hover:text-brand-secondary">
                                {{ website remove_left="https://" remove_left="http://" trim="()" }}
                            </a>
                        {{ /if }}
                    </div>
                    {{ /reviews }}
                </div>

            </div>
            <div class="flex mt-8 js-fade-up">
                <div class="arrows flex items-center gap-2 ml-auto">
                    <button
                            x-ref="prev"
                            class="arrow-prev w-[61px] h-[61px] text-black bg-brand-secondary border-[2px] border-black rounded-[15px]"
                    >
                        <i class="fa-sharp fa-regular fa-chevron-left"></i>
                    </button>
                    <button
                            x-ref="next"
                            class="arrow-next w-[61px] h-[61px] text-black bg-brand-secondary border-[2px] border-black rounded-[15px]"
                    >
                        <i class="fa-sharp fa-regular fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
{{ /if }}
