{{ if carousel }}
    <section class="my-20 overflow-x-hidden relative js-fade-up py-4 md:py-6 bg-brand-secondary text-carousel text-brand-primary">
        <div class="animate-marqueeLoop inline-flex items-center whitespace-nowrap gap-10 lg:gap-16">
            {{ carousel }}
                <span class="font-heading uppercase text-[25px] md:text-[30px] lg:text-[40px] xl:text-[50px] 3xl:text-[60px] flex-shrink-0">{{ title }}</span>
                {{ icon }}
                <img src="{{ url }}" alt="{{ alt }}" class="h-[50px] lg:h-[70px] w-auto flex-shrink-0">
                {{ /icon }}
            {{ /carousel }}
            {{ carousel }}
                <span class="font-heading uppercase text-[25px] md:text-[30px] lg:text-[40px] xl:text-[50px] 3xl:text-[60px] flex-shrink-0">{{ title }}</span>
                {{ icon }}
                <img src="{{ url }}" alt="{{ alt }}" class="h-[50px] lg:h-[70px] w-auto flex-shrink-0">
                {{ /icon }}
            {{ /carousel }}
        </div>
    </section>
{{ /if }}
