{{#
    Individual case study (/work/{slug}).
#}}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "CreativeWork",
            "name": {{ title | json }},
            {{ if meta_description || seo_description }}
            "description": {{ (meta_description ?? seo_description) | json }},
            {{ /if }}
            {{ if hero_image }}
            "image": "{{ hero_image:url }}",
            {{ elseif preview_image }}
            "image": "{{ preview_image:url }}",
            {{ /if }}
            "url": "{{ permalink }}",
            "creator": { "@id": "https://wearejungle.co.uk/#org" }
        },
        {
            "@type": "BreadcrumbList",
            "itemListElement": [
                { "@type": "ListItem", "position": 1, "name": "Home", "item": "https://wearejungle.co.uk" },
                { "@type": "ListItem", "position": 2, "name": "Work", "item": "https://wearejungle.co.uk/work" },
                { "@type": "ListItem", "position": 3, "name": {{ title | json }}, "item": "{{ permalink }}" }
            ]
        }
    ]
}
</script>
