html {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @apply font-body text-white;
}

.container {
  width: 100%;
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
  @screen md {
    padding: 0 30px;
  }
&__full {
  max-width: 100%;
 }
}